.prod-wrap img {
  width: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border:  1px solid black;
}
.prod-wrap {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.parent {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}


.add-to-cart{
  border: 2px solid black;
  color: black;
  width: auto;
  border-radius: 10px;
}

.add-to-cart:hover{
  background-color: black;
  color:white;
}