.form-wrap {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    text-align: center;
  }


.form{
  margin: 10px;
}


  .label{
    margin:20px 15px;
    padding: 20px;
  }


  .placeholder {
    color: #fff;
    background-color: rgb(185, 13, 13);
  }
  .login{
    background-color: rgb(80, 89, 255);
    padding: 5px 15px;
    border-radius: 10px;
    width: 80px;

    height: 30px;
    margin-top: 50px;
  }
  